<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Journal</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <style>
      body {
        font-family: "Open Sans Condensed", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="box" , id="heading">
      <h3>Daily Journal</h3>
    </div>
  
    <div id="navBar">
      <nav>
        <ul>
          <li><a class="nav" href="/">Home</a></li>
          <li><a class="nav" href="/about">About</a></li>
          <li><a class="nav" href="/compose"> Create new post</a></li>
          <li><a class="nav" href="/contact">Contact Me</a></li>
        </ul>
      </nav>
    </div>

