<%- include("partials/header.ejs") -%>

<h2 class="composeHeading">Create New Post</h2>

<div class="composeContent">
  <form class="formCompose" action="/compose" method="POST">
    <label>Title</label>
    <input class="composeTitleCreate" type="text" name="postTitle" />
    <label>Post</label>
    <textarea name="postBody" cols="num" rows="num" required></textarea>
    <div class="btn">
        <button type="submit" class="publish">Publish</button>
    </div>
  </form>
</div>

<%- include("partials/footer") -%>
