
</body>

<footer>
    <p>Created in association with App Brewery Udemy Course.</p>
</footer>

<address>
    Created by <a href="mailto:shannon.schrauwen@gmail.com">Shannon Schrauwen</a> <br>
    Helsinki <br>
    Finland <br>
</address>
</html>