
</body>

<div class="footer">
    <footer>
        Created in association with App Brewery Udemy Course.
    </footer>
    <br>
    <address>
        Created by <a href="mailto:shannon.schrauwen@gmail.com">Shannon Schrauwen</a> <br>
        Helsinki <br>
        Finland <br>
    </address>


</div>


</html>