<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Journal</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <style>
      body {
        font-family: "Open Sans Condensed", sans-serif;
      }
    </style>
  </head>
  <body></body>
</html>
