<%- include("header") -%> 


<div class="box", id="heading">
<h1>Daily Journal</h1>
</div>

<ul>
    <li><a class = "active" href="#home">Home</a></li>
    <li><a href="#newpost"> Create new post</a></li>
</ul>

<div class="content">
<p>
    This is my daily journal page. I am running this to test out ejs and servers.
</p>

</div>

    
<%- include("footer") -%> 